* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple: #b491f4;
    --purple-hover: #cbb1fc;
    --orange: #e69660;
    --grey: #a9b1d6;
    --blue: #58bedd;
    --background-colour: #1A1B25;
    --tile-colour: #2c2c42;
    --tile-colour-hover: rgb(69, 71, 96);;
    --border-radius: 5px;
}

body {
    background-color: var(--background-colour);
    color: var(--grey);
    /* font-family: "Fira Code", serif; */
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    /* font-weight: 100; */
    font-weight: 390;
    font-style: normal;
    /* letter-spacing: 0.04ch; */
    letter-spacing: -0.02ch;
}

h1 {
    color: var(--purple);
    font-size: 64px;
    font-weight: 600;
}

h2 {
    color: var(--purple);
    font-size: 48px;
    font-weight: 600;
    margin-top: 150px;
    margin-bottom: 20px;

}

h3 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

a {
    color: var(--blue);
}

ul {
    font-size: 22px;
    list-style: none;
    margin-left: -1em;
}

li::before {
    content: ">"; color: var(--orange);
    display: inline-block;
    width: 0.5em;
    margin-left: -1em
}

.bold {
    /* font-weight: 800; */
    font-weight: 900;
}

.button {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--purple);
}

.button:hover {
    background-color: var(--purple-hover);
    transition: 0.2s ease;
}

.purple {
    color: var(--purple);
    font-weight: 500;
}

.section {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 85vw;
}

.section-blurb {
    margin-bottom: 50px;
}

/* tile styling */
.tile {
    border-radius: var(--border-radius);
    background-color: var(--tile-colour);
}

.tile:hover {
    background-color: var(--tile-colour-hover);
    transition: 0.3s ease;
}

.big-tile {
    padding: 20px;
    margin-bottom: 150px;
}

.big-tile-blurb {
    margin: 50px;
}

.big-tile-blurb p {
    margin-bottom: 40px;
}

/* navbar styling */

nav {
    top: 0;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    background-color: var(--background-colour);
}

.navlink {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    color: var(--grey);
    text-decoration: none;
}

/* footer styling */

footer  {
    border-top: var(--grey) solid 1px;
    padding: 35px;
    padding-left: 7vw;
    margin-top: 50px;
}

footer p {
    font-size: 16px;

}

/* home styling */

#home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#header-text {
    max-width: 600px;
    /* margin-top: -10px; */
}

#header-blurb {
    margin-top: 30px;
}

#header-team-blurb {
    margin-top: 80px;
}

.header-blurb-li {
    margin-bottom: 20px;
}

#project-promo {
    margin-top: 90px;
}

#project-promo-description {
    color: var(--purple);
    font-weight: 400;
    margin-bottom: 20px;
}

/* about styling */

#about-section {
    /* padding-top: 100px; */
}

#team-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.team-member {
    width: 23.5%;
    padding: 15px;
}

.tile :hover team-member {
    opacity: 5%;
}

/* .team-member :hover {
    background-color: #a9b1d6;
} */

.team-member-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.team-member-blurb {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* showcase styling */

.showcase {
    display: flex; 
    justify-content: center; 
    margin: 20px 0;
    gap: 20px;
    text-align: center;
}

.showcase img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3); 
    transition: opacity 0.5s ease;
}

.showcase img:hover{    
    opacity: 1;
}
.showcase img:not(:hover){
    opacity: 0.5;
}

/* h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 35px;
    background-color: rgb(168, 24, 24);
    padding: 10px;
    margin: 0;
} */


/* showcase styling */

.project-content{
    display: none;
    position:absolute;
    left: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
    width: 213px;
}
.project-content p{
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.project-content p:hover{
    background-color: rgba(128, 128, 128, 0.17);
}
#project{
    position: relative;
    display: inline-block;
}
#project:hover .project-content{
    display: block;
}
#project, #about, #main{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    justify-content: center;
    width: 33%;
    border-radius: 2%;
    gap: 10px;
    height: auto;
}
#project:hover, #about:hover, #main:hover{
    text-decoration: underline;
}
#canvas{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 85vw;
    margin-bottom: 8vw;
}
