* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple: #b491f4;
    --orange: #e69660;
    --grey: #a9b1d6;
    --blue: #58bedd;
    --background-colour: #1A1B25;
    --tile-colour: #303143;
}

body {
    background-color: var(--background-colour);
    color: var(--grey);
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.04ch;
}

a {
    color: var(--blue);
}

h1 {
    color: var(--purple);
    font-size: 64px;
    font-weight: 600;
}

p {
    font-size: 22px;
}

ul {
    font-size: 22px;
    list-style: none;
    margin-left: -1em;
}

li::before {
    content: ">"; color: var(--orange);
    display: inline-block;
    width: 0.5em;
    margin-left: -1em
}

.bold {
    font-weight: 800;
}

.button {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--purple);
}

/* navbar styling */

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    background-color: var(--background-colour);
}

.navlink {
    margin: 20px;
    font-size: 22px;
    color: var(--grey);
    text-decoration: none;
}

/* footer styling */

footer  {
    border-top: var(--grey) solid 1px;
    padding: 30px;
}

footer p {
    font-size: 16px;

}

/* home styling */

#home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#header-text {
    max-width: 600px;
    /* margin-top: -10px; */
}

#header-blurb {
    margin-top: 30px;
}

#header-team-blurb {
    margin-top: 80px;
}

.header-blurb-li {
    margin-bottom: 20px;
}

#project-promo {
    margin-top: 90px;
}

#project-promo-description {
    color: var(--purple);
    font-weight: 400;
    margin-bottom: 20px;
}

/* showcase styling */

.showcase {
    display: flex; 
    justify-content: center; 
    margin: 20px 0;
    gap: 20px;
    text-align: center;
}

.showcase img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3); 
    transition: opacity 0.5s ease;
}

.showcase img:hover{    
    opacity: 1;
}
.showcase img:not(:hover){
    opacity: 0.5;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 35px;
    background-color: rgb(168, 24, 24);
    padding: 10px;
    margin: 0;
}
/* a{
    color: black;
    text-decoration: none;
} */

/* footer {
    background-color: rgb(168, 24, 24);
    background-color: var(--footer-colour);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
} */
.navbar{
    display: flex;
    flex-direction: row;
}
.project-content{
    display: none;
    position:absolute;
    left: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
    width: 213px;
}
.project-content p{
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.project-content p:hover{
    background-color: rgba(128, 128, 128, 0.17);
}
#project{
    position: relative;
    display: inline-block;
}
#project:hover .project-content{
    display: block;
}
#project, #about, #main{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    justify-content: center;
    width: 33%;
    border-radius: 2%;
    gap: 10px;
    height: auto;
}
#project:hover, #about:hover, #main:hover{
    text-decoration: underline;
}
